body {
    padding: 1em;
}
.lolz-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    margin: auto;

    .lol {
        margin: auto;
        text-align: center;
        max-width: 95vw;
        @media screen and (max-width: 880px) {
            min-width: 95vw;
        }
        img {
            width: 90%;
            cursor: pointer;
        }
        @media screen and (min-width: 1024px) {
            max-width: 70vw;
            padding: 2rem;
            img {
                max-width: 30vw;
            }
        }
        h2 {
            cursor: pointer;
        }
        &:after {
            position: relative;
            content: "";
            height: 2px;
            background-image: linear-gradient(
                to right,
                rgba(46, 138, 253, 0),
                rgba(46, 138, 253, 0.75),
                rgba(46, 138, 253, 0)
            );
            min-width: 40vw;
            margin-top: 2rem;
            border-radius: 3px;
            z-index: 2;
            display: block;
        }
    }
}

.twitter-tweet-rendered {
    margin: auto;
}

.imgur-album {
    display: flex;
    flex-direction: column;
    img {
        margin: auto;
    }
}

.eof {
    min-width: 100vw;
    text-align: center;
    margin: 0;
    padding: 0;
    h1 {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
