body {
    padding: 1em;
}
.lolz-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    margin: auto;

    .lol{
        margin: auto;
        padding: 2rem;
        text-align: center;
        max-width: 70vw;
        img{
            cursor: pointer;
            max-width: 30vw;
        }
        h2{
            cursor: pointer;
        }
        &:after{
            position: relative;
            content:"";
            height: 2px;
            background-image: linear-gradient(to right, rgba(46, 138, 253, 0), rgba(46, 138, 253, 0.75), rgba(46, 138, 253, 0));
            min-width: 40vw;
            margin-top: 2rem;
            border-radius: 3px;
            z-index: 2;
            display: block;
        }
    }
}

.twitter-tweet-rendered {
    margin: auto;
}

.imgur-album {
    display: flex;
    flex-direction: column;
    img {
        margin: auto;
    }
}