body {
    padding: 1em;
}
.lolz-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    margin: auto;

    .lol{
        margin: auto auto 2rem;
        text-align: center;
        max-width: 70vw;
        img{
            max-width: 70vw;
        }
    }
}
