{% extends 'base.html.twig' %}

{% block title %}Lolz!{% endblock %}

{% block body %}

    <div class="lolz-wrapper">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async src="https://www.youtube.com/player_api"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
