{% extends 'base.html.twig' %}

{% block title %}Hello LolzController!{% endblock %}

{% block body %}

    <div class="lolz-wrapper">
        {% for lol in lolz %}
            <div class="lol">
                <h2>{{ lol.title }}</h2>
                <img src="{{ lol.imageUrl }}" title="{{ lol.caption }}"/>
            </div>
        {% endfor %}
    </div>
{% endblock %}
