<blockquote class="reddit-card">
    <a href="{{ commentUrl }}">Penguins of Terminal</a> from <a href="{{ subredditLink }}">r/{{ subredditName }}</a>
</blockquote>
<script async src="https://embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
